# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Logs
logs/
*.log

# Data y caché
data/*.db
data/*.json
*.pyc

# VS Code
.vscode/
*.code-workspace

# Otros
.DS_Store
Thumbs.db